/* basic typography */
html {
    font-size: 16px;
}

body {
    font-size: 18px;
    line-height: 1.618;
    margin: auto;
    background-color: #333;
    color: #fff;
    font-family: 'Space Mono', monospace;

    --mdc-theme-on-primary: white;
    --mdc-theme-primary: #f44336;
    --mdc-theme-on-secondary: white;
    --mdc-theme-secondary: #ff5722;
}

a {
    color: #f44336;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}

@media (max-width: 684px) {
    body {
        font-size: 16px;
    }
}
@media (max-width: 382px) {
    body {
        font-size: 13px;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    max-width: 38em;
    margin: 0 auto;
    padding: 1.3rem;
}
.main-container nav {
    margin-bottom: 1em;
}
.main-container nav a.active {
    font-weight: 800;
}
.main-container nav a {
    margin: 0 1em;
}

.main-container pre {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.5em;
    border-radius: 3px;
    max-height: 20em;
    overflow: auto;
}

/* hacks */

.main-container .editor-toolbar {
    background-color: #222;
    opacity: 1 !important;
}
.main-container .editor-toolbar a {
    color: #fff !important;
}
.main-container .editor-toolbar a:hover {
    background-color: #666;
}
.main-container .CodeMirror {
    background-color: #222;
    color: #fff;
}
