/* basic typography */
* {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    line-height: 1.618;
    margin: auto;
    background-color: #333;
    color: #fff;
    font-family: 'Space Mono', monospace;
}

a {
    color: #f44336;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}

@media (max-width: 684px) {
    body {
        font-size: 16px;
    }
}
@media (max-width: 382px) {
    body {
        font-size: 13px;
    }
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.1;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
h1 {
    font-size: 2em !important;
}
h2 {
    font-size: 1.5em !important;
}
h3 {
    font-size: 1.17em !important;
}
h4 {
    font-size: 1.12em !important;
}

.btn {
    border: 1px solid #f44336;
    border-radius: 3px;
    padding: 0.5em 1em;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
}
.btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-container {
    max-width: 38em;
    margin: 0 auto;
    padding: 1.3rem;
}
.main-container nav {
    margin-bottom: 1em;
}
.main-container nav a.active {
    font-weight: 800;
    text-decoration: underline;
}
.main-container nav a {
    margin: 0 1em;
}

.slides-container .axis {
    opacity: 0.6;
}

.content-area {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.5em;
    border-radius: 3px;
}

.note-editor {
    width: 100%;
    height: 30em;
    padding: 1em;
    font-size: 16px;
    color: #fff;
    border: 1px dashed #f44336;
    background-color: rgba(255, 255, 255, 0.3);
}
